<main>
    <p>
        This was my first ever web based project. I had zero experience in HTML or CSS.
        <br>
        Our assignment was to try and create a website by looking at a template on SquareSpace and do our best to mimic the look.
        <br><br>
        The following site is completely unchanged since completing that assignment and includes some responsive design work as well!
        <br><br>
        <a href="/web/RushWebsite">Click Here!</a>

        <br><br><br>
        (The original template can be found <a href="/web/Template" target="none">here</a>. I changed it up a bit because I may or may not be a huge Rush fan)
    </p>
</main>