<main>
    <h1>SleepEZ</h1>
    <p>
        This is my first project using Node.Js! In fact, the website you're on right now is a much more simple version of this project.
        <br><br>
        This project was all about making a complete website where a user can login, sign up, and book rooms. The project may have been too ambitious 
        to actually incorporate room booking for second semester web developers, so for now rooms are just added to an online database can can be updated.
        <br><br>
        Some other cool features here include:
        <ul>
            <li>Hosted on Heroku</li>
            <li>User authentication</li>
            <li>Full Password Encryption for users (Your password is hashed and will not even be able to be seen with direct DB access)</li>
            <li>Admin and Basic accounts (Managed by whomever has access to the database)</li>
            <li>MongoDB stores all information</li>
            <li>File upload for users</li>
            <li>SendGrid incorporated in order to provide users with welcome emails</li>
            <li>Visit to find out more!</li>
        </ul>
        <br><br>
        <a href="/web/SleepEZ" target="none" class="linkButton">SleepEZ</a>
    </p>
</main>