<main>
    <h1>Web Projects</h1>

<nav id="projectList">
    <ul>
        <li>
        <a href="/web/Rush">Rush Website</a>
        </li>
        <li>
            <a href="/web/Sleep">Sleep EZ Website</a>
        </li>
    </ul>
</nav>
</main>