<main>
    <h1>Web Projects</h1>

    <p>
        Not many things here yet but hoping to have more examples soon!
    </p>
<nav id="projectList">
    <ul>
        <li>
        <a href="/web/Rush" class="linkButton">Rush Website</a>
        </li>
        <li>
            <a href="/web/Sleep" class="linkButton">Sleep EZ Website</a>
        </li>
    </ul>
</nav>
</main>