<main>
    <h1>Web Projects</h1>
<nav id="projectList">
    <ul>
        <li>
            <h2>Rush - HTML/CSS</h2>
        <a href="/web/Rush" class="websiteLink" id="rushLink"><img src="img/RushSite.png" alt="RushSite" height="330px" width="330px"></a>
        </li>
        <li>
            <h2>SleepEZ - Node.JS</h2>
            <a href="/web/Sleep" class="websiteLink" id="sleepLink"><img src="img/SleepEZ.png" alt="SleepEZSite" height="330px" width="330px"></a>
        </li>
    </ul>
</nav>
</main>