<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Christopher Kelly</title>
    <link rel="stylesheet" href="/css/style.css"/>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin&display=swap" rel="stylesheet">
</head>
<body>
    <header id="mainHeader">
        <h1><a href="/" class="customLink">Christopher Kelly</a></h1>
    </header>
 <nav id="mainNavigation">
     <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/web">Websites</a></li>
         <li><a href="/apps">Apps</a></li>
     </ul>
 </nav>
 <div id="templateBody">
    {{{body}}}
 </div>
 
 <footer>
        <footer>
            <div id="icons">
                <a href="https://www.linkedin.com/in/ckellytor" target="none"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/ckelly2112" target="none"><i class="fab fa-github"></i></a>
            </div>
            <div id="createdBy">
                <h6>Created by <a href="/">Christopher Kelly</a></h6>
            </div>
        </footer>
    </footer>
</body>
</html>