<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Christopher Kelly</title>
</head>
<body>
 <nav>
     <ul>
         <li><a href="/web">Websites</a></li>
         <li><a href="/apps">Apps</a></li>
     </ul>
 </nav>
    {{{body}}}
 
</body>
</html>