<main>
    <h1>My Apps</h1>

    <p>
        So this page looks a little empty eh?
        <br>
        Well that's okay. I'll be filling it up soon. Truth is I am still working on a couple of apps and making sure they are
        ready to be showcased properly on this website. Till then feel free to head over to my GitHub Page by clicking the GitHub icon
        at the bottom of this website to check out some of my public projects
    </p>
</main>