<main>
    <h1>About Me</h1>
    <div>
        <p>
            As a potential recruiter/employer, you probably figured that I would
            talk mostly about my skills and accolades here.
            <br>
            But that's what my <a href="files/ChristopherKelly_Resume.pdf" id="resumeLink" target="none">resume</a>
            is for.
            <br>
            Instead, maybe I should tell you about the person you'll be working with!
        </p>
        <h4 class="aboutSub">The Real Me</h4>
        <div class="aboutDiv">
        <p>Among the many things I'm passionate about is music. Mostly listening to, but making music can be fun as well!
            <br>
            As I type this out, I currently have Kashmir playing in the background. If you see me wearing headphones there is a good
            possibility that I will either being listening to Rush, or Led Zeppelin.
            <br>
            Those are just my defaults. If I'm in a bluesy mood I could be listening to Johnny Winter, Stevie Ray Vaughan, Eric Clapton, BB King, or Muddy Waters.
            <br>
            Rush not enough to scratch the prog itch? I could probably play Yes on repeat for 24 hours straight.
            <br>
            Heck, I couldn't go five seconds without throwing in a vague reference to the greatest album of all time (Track 2 on Quadrophenia by The Who).
            <br>
            Everybody has their own tastes when it comes to music though. The way I see it is that I listen to enough of my own stuff on my own
            to force anybody else to have to listen to it. 
        </p>
        <img src="img/2112Album.jpg" alt="The album that got me into Rush... 2112" class="aboutImg"/>
        </div>
        <h4 class="aboutSub">Down Time</h4>
        <div class="aboutDiv">
            <img src="img/StarCitizen.jpg" alt="StarCitizen Picture" class="aboutImg">
            <p>
                So, computer programmer... Must be a geek right?
                <br>
                RIGHT
                <br>
                After a long day of sitting in front of a computer all day I like to settle down
                play on... another computer. I love playing loads of different games and will get an itch for a very specific type of
                game from time to time. For example, at the time of writing this I've been playing Sea of Thieves and just enjoyed sailing out and finding treasure.
                <br>
                Before that I played the Bioshock games for the first time and absolutely loved them. RPGs with deep progression and great story are also frequently played.
                <br>
                I even love playing competitive sport sim games. Speaking of sports... 
            </p>
        </div>
        <h4>Yeah, I'm a fan</h4>
        <div class="aboutDiv">
            <p>
                I feel like it's important to point out that although I absolutely love talking sports with other people,
                I also understand how much people don't like sports (Crazy, I know).
                <br>
                Want to talk about hockey, basketball, or baseball? I'd love to!
                <br>
                Rather not? No worries!
            </p>
            <img src="img/baseball.jpg" alt="Rogers Centre" class="aboutImg">
        </div>
    </div>
</main>