<main>
    <h1>About Me</h1>
    <div>
        <p>
            As a potential recruiter/employer, you probably figured that I would
            talk mostly about my skills and accolades here.
            <br>
            But that's what my <a href="files/ChristopherKelly_Resume.pdf" id="resumeLink" target="none">resume</a>
            is for.
            <br>
        </p>
        <p>
            Will add something here soon!
        </p>
    </div>
</main>