<header>
    <h1>Christopher Kelly</h1>
    <div>
        <p>
            Thank you for visiting my website! This website has been created to archive some of my projects.
        </p>
        <br>
        <p>
            Most of the work on this website will include stuff created for school and will 
            include a brief description about what the project in question was about
        </p>
        <br>
        <p>
            At the bottom of this page, as with most of my work, I will provide links to my various professional accounts (GitHub, LinkedIn etc.)
            <br>
            Also feel free to email me with any questions about my work at <a href="mailto: ckelly.tor@gmail.com" target="none">ckelly.tor@gmail.com</a>
        </p>
    </div>