<main>
    <h1>Welcome!</h1>
    <div>
        <p>
            Thank you for visiting my website! This website has been created to archive some of my projects.
        <br>
        <br>
        Check out the navigation bar at the top to see some of my projects. If you're more concerned about the work I put in go ahead and click on the <a href="/links">links</a> tab
        to check out my GitHub, or even my LinkedIn page!
            Most of the work on this website will include stuff created for school and will 
            include a brief description about what the project in question was about
        </p>
        <br>
        <p>
            At the bottom of this page, as with most of my work, I will provide links to my various professional accounts (GitHub, LinkedIn etc.)
            <br>
            Also feel free to email me with any questions about my work at <a href="mailto: ckelly.tor@gmail.com" target="none">ckelly.tor@gmail.com</a>
        </p>
    </div>
</main>