<main>
    <h1>Links</h1>

    <nav id="linkNav">
            <div id="icons">
                <a href="https://www.linkedin.com/in/ckellytor" target="none" class="linkIcon"><i class="fab fa-linkedin"></i></a> - LinkedIn
                <br><br><br>
                <a href="https://github.com/ckelly2112" target="none" class="linkIcon"><i class="fab fa-github"></i></a> - GitHub
                <br><br><br>
                <a href="files/ChristopherKelly_Resume.pdf" target="none" class="linkIcon"><i class="fas fa-file-pdf"></i></a> - My Resume
            </div>
    </nav>
</main>